.site-container {
    display: flex;
    flex-direction: column;
    min-height: 105vh;
    background-color: #F6F8F8;
    /* 確保容器至少和視窗一樣高 */
}

.main-container {
    flex: 1;
    display: flex; 
    flex-direction: column;
    /* 讓主要內容區域自動填滿所有可用空間，這會將 Footer 推向底部 */
}